<section class="flex flex-col py-5 gap-y-8">
    <div class="flex flex-1 flex-col gap-y-5 text-center">
        <h2 class="text-5xl font-bold">Peluquera y Estilista</h2>
        <p class="text-3xl text-black-200">Profesional en el rubro de peluqueria y estilista hace mas de 40 años</p>
    </div>
    <div class="flex-1 grid grid-cols-2 md:grid-cols-4">
        <div class="text-center">
            <img src="images/pelo1.jpg" class="w-3/4 m-auto">
            <span class="mt-4">Tipo pelo<br>color numero</span>
                </div>
        <div class="text-center">
            <img src="images/pelo2.jpg" class="w-3/4 m-auto">
            <span class="mt-4">Tipo pelo<br>color numero</span>    
            </div>
        <div class="text-center">
            <img src="images/pelo4.jpg" class="w-3/4 m-auto">
            <span class="mt-4">Tipo pelo<br>color numero</span>
        </div>
        <div class="text-center ">
            <img src="images/pelo3.jpg" class="w-3/4 m-auto">
            <span class="mt-4">Tipo pelo<br>color numero</span>   
        </div>
    </div>
</section>