:root{
    --fondo: #f4f4f4;
    --letras: #c0b283;
    --otro:#dcd0c0;
    --detalle: #373737;
}

body{
    background-color: var(--detalle);
    color: var(--letras);
    font-family: garamond;
}

.main{
    background-color: var(--fondo);
}
.banner{
    background-image: linear-gradient( #37373780, #c0b28345),
    url("/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

@media (min-width: 768px) {
    #mobile-menu {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    #navbar-toggle {
      display: block;
    }
  }
  
  #navbar-toggle svg:first-child {
    display: block;
  }
  
  #navbar-toggle svg:last-child {
    display: none;
  }
  
  #navbar-toggle[aria-expanded="true"] svg:first-child {
    display: none;
  }
  
  #navbar-toggle[aria-expanded="true"] svg:last-child {
    display: block;
  }