<footer class="bg-[color:var(--detalle)] mx-auto flex  gap-4 py-10">
    <div class=" container mx-auto flex flex-col md:flex-row justify-evenly  md:text-left gap-4">
        <div class="flex-1 text-center">
            <h4 class="font-bold text-xl text-center"> Redes</h4>
            <ul class="flex flex-col">
                <li class="flex-1"><a href="https://www.instagram.com/karina_a_amaya">instagram</a></li>
                <li class="flex-1"><a href="https://www.facebook.com/karinaandrea.amaya">facebook</a></li>
                <li class="flex-1"><a href="https://mobile.twitter.com/karinaaamaya">twitter</a></li>
            </ul>
        </div>
        <div class="flex-1">
            <h4 class="font-bold text-xl text-center">Ubicacion</h4>
            <figure class="item-center">
                <img src="images/mapa.jpeg" alt="santos lugares" class="w-72 h-48 m-auto">
                <figcaption class="text-center">
                    Buenos Aires, Santos Lugares
                </figcaption>
            </figure>
        </div>
    </div>
</footer>