---
import Footer from "../components/Footer.astro";
import "../styles/Global.css"

---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karina Amaya</title>
</head>
<body>
    <main class="mx-auto container main">
        <slot />
        <Footer></Footer>
    </main>
</body>
</html>